# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional Prettier cache
.prettiercache

# Vite-specific
.vite/
dist/ # ¡IMPORTANTE! Excluye la carpeta de build, Render la generará.
.env.local
.env.*.local

# Mac/Linux
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws
